exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3: In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 10 - Insert a markdown cell to list Objectives

**objectives:**
+ Create a Jupyter Notebook
+ Insert code and markdown cells
+ Share your notebook through GitHub

Exercise 4 - Create a markdown cell to list data science languages
Some of the popular languages that Data Scientists use are:
1. python
2. R
3. java
4. c/c++

Exercise 5 - Create a markdown cell to list data science libraries
1. pandas
2. sci-py
3. matplotlib
5. tensorflow
6. ggplot

Exercise 6 - Create a markdown cell with a table of Data Science tools
| Data Science Tools| 
| -------------|

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Create a markdown cell introducing arithmetic expression examples

In [2]:
print(3+5)
print(9*5)
print(7-4)
print(10/2)
print(5%3)

8
45
3
5.0
2

Exercise 8 - Create a code cell to multiply and add numbers

In [3]:
# this a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

Exercise 9 - Create a code cell to convert minutes to hours

In [6]:
# this will convert 200 minutes into hours dividing by 60
print(200/60 , "hours")

3.3333333333333335 hours

Exercise 11 - Create a markdown cell to indicate the Author's name
## Author
Ayush Kumar